html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    background-image: url('/assets/images/wmsBackground.png');
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 60%;
}

header {
    background-color: #77c5ff;
    padding: 1px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
}

.title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



nav.header {
    display: flex;
    justify-content: center;
    background-color: #004580;
    padding: 0px;
    /* position: fixed; */
    width: 100%;
    top: 90px;
    left: 0;
    right: 0;
    z-index: 998;
}

nav.floor,
nav.buildings {
    display: flex;
    justify-content: center;
    background-color: #77c5ff;
    padding: 0px;
    /* position: fixed; */
    width: 100%;
    top: 125px;
    left: 0;
    right: 0;
    z-index: 997;
}


.logo {
    width: 80px;
    height: auto;
    z-index: 999;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
    font-size: 15px;

}

nav a:hover {
    background-color: #999;
}

.bottom-text {
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    color: rgb(66, 66, 70);
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    animation: slide 30s linear infinite;
}

nav a.active {
    background-color: #004580;
}

@media only screen and (max-width: 900px) {
    .logo {
        width: 70px;
    }

    header {
        font-size: 16px;
    }

    nav {
        flex-direction: column;
    }

    nav a {
        margin: 5px 0;
    }

    .stageButton {
        width: -webkit-fill-available;
    }

    .logo {
        width: 60px;
    }
}


/*--------------------LOCATION-------------------------*/
.custom-popup {
    left: 35%;
    top: -9%
}

#floorButtonContainer {
    /* position: fixed; */
    top: 20%;
    left: 30%;
    /* Điều chỉnh vị trí bên trái của nút */
    transform: translateY(-50%);
    z-index: 9999;
    /* Đảm bảo nút "Tầng 1" hiển thị trên cùng */
}

#floor2ButtonContainer {
    /* position: fixed; */
    top: 20%;
    right: 30%;
    /* Điều chỉnh vị trí bên trái của nút */
    transform: translateY(-50%);
    z-index: 9999;
    /* Đảm bảo nút "Tầng 1" hiển thị trên cùng */
}

.stageButton,
.buildingButton {
    padding: 10px;
    background-color: #0d4b8d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#floor1Button {
    padding: 10px;
    background-color: #0d4b8d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#floor2Button {
    padding: 10px;
    background-color: #0d4b8d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#floor1Button:hover {
    background-color: #77c5ff;
}

#floor2Button:hover {
    background-color: #77c5ff;
}

.map {
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.rectangle {
    display: none;
    /* position: absolute; */
    position: relative;
    width: 775px;
    height: 648px;
    background: url('https://github.com/congchinh28/wms.github.io/blob/main/assets/images/map1.png?raw=true') no-repeat center center/cover;
}

#rectangle1 {
    background: url('https://github.com/congchinh28/wms.github.io/blob/main/assets/images/map1.png?raw=true') no-repeat center center/cover;
}

#rectangle2 {
    background: url('https://github.com/congchinh28/wms.github.io/blob/main/assets/images/map2.jpg?raw=true') no-repeat center center/cover;
}

#rectangle3 {
    background: url('https://github.com/congchinh28/wms.github.io/blob/main/assets/images/map3.png?raw=true') no-repeat center center/cover;
}

.product {
    display: none;
    position: absolute;
    width: 55px;
    height: 55px;
    background: url('https://github.com/congchinh28/wms.github.io/blob/main/assets/images/product.png?raw=true') no-repeat center center/contain;
    cursor: pointer;
}

.anchor {
    display: none;
    position: absolute;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

/* CSS cho khung thông tin1 */
.floor-info-container {
    display: none;
    position: sticky;
    top: 30%;
    /* Điều chỉnh vị trí tùy thuộc vào cụ thể trang của bạn */
    right: 10%;
    border: 1px solid #77c5ff;
    padding: 10px;
    margin: 1rem;
    background-color: #fff;
    z-index: 999;
    /* Đảm bảo khung thông tin hiển thị trên các phần khác */
}

.floor-info {
    margin: 0px;
}

/* CSS cho khung thông tin2 */
.floor2-info-container {
    position: sticky;
    top: 30%;
    /* Điều chỉnh vị trí tùy thuộc vào cụ thể trang của bạn */
    right: 10%;
    border: 1px solid #77c5ff;
    padding: 10px;
    background-color: #fff;
    z-index: 999;
    /* Đảm bảo khung thông tin hiển thị trên các phần khác */
}

.floor2-info {
    margin: 0px;
}

/*--------------------STATISTICS-------------------------*/
.centered-table {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
    overflow: auto;
    margin: 40px;
}

.product:hover {
    border: 2px solid #004580;
}


#productTable th,
#productTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#productTable th {
    background-color: #f2f2f2;
}

#exportButton {
    background-color: #004580;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px
}

#exportButton:hover {
    background-color: #004580;
}

#productTable {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

#productTable th,
#productTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#productTable th {
    background-color: #f2f2f2;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    color: #333;
    text-align: center;
    padding: 10px;
}

#productTable td {
    text-align: center;
    padding: 10px;
}

#productTable th,
#productTable td {
    padding: 10px;
    /* Tăng khoảng cách giữa nội dung và đường biên của ô */
}

#productTable td:hover {
    background-color: #f5f5f5;
    /* Màu nền khi di chuột qua */
}


.export-button {
    background-color: #004580;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.export-button:hover {
    background-color: #004580;
}

/*--------------------ABOUT US-------------------------*/


/*--------------------SET ANCHOR POSITION-------------------------*/